importFrom("graphics", "lines", "locator", "rect")
importFrom("utils", "write.table")
importFrom("pracma", trapz)
importFrom("oce", pwelch)
importFrom("ineq", Gini)
importFrom("vegan", diversity)
importFrom("tuneR", channel, readWave)
importFrom("seewave", spectro, meandB, dfreq, wav2flac, H, cutw)
importFrom("parallel", makeCluster, parLapply, detectCores, stopCluster)
exportPattern("^[[:alpha:]]+")